{
  "root": true,
  "extends": [
    "@react-native-community",
    "airbnb-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "impliedStrict": true
    },
    "sourceType": "module"
  },
  "plugins": ["react", "react-native"],
  "rules": {
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always"
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "react/prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "no-use-before-define": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-unused-vars": "warn",
    "no-plusplus": "off"
  }
}
